

<h4> Customer Details</h4>
<form name="ngForm">
    <div class="form-group">

        <label class = "col-sm-2 control-label"> Customer Id: </label>
        <p>  {{zero._id}} </p>


        <label class = "col-sm-2 control-label"> First Name:</label>
        <input type="text" class="form-control" required placeholder="First name is required"
               name="fname"
               [(ngModel)]= "zero.firstname" >

        <label class = "col-sm-2 control-label"> Last Name:</label>
        <input type="text"  class="form-control" required name="lname"
               [(ngModel)]= "zero.lastname" >

        <label class = "col-sm-2 control-label"> Address:</label>
        <input type="text"  class="form-control" required name="address"
               [(ngModel)]= "zero.address" >

        <label  class = "col-sm-2 control-label"> City:</label>
        <input type="text"  class="form-control" required name="city"
               [(ngModel)]= "zero.city" >

        <label class = "col-sm-2 control-label"> Country:</label>
        <input type="text"  class="form-control" required name="country"
               [(ngModel)]= "zero.country" >

    </div>


    <button  class="btn btn-default"  (click)="addUser()"> Add User </button>
    <div *ngIf = "messagestatus" > <b> Add Successful </b> </div>

</form>
