<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h2> {{title}}</h2>

<nav class = "navbar navbar-default" role = "navigation">
    <b>
    <a routerLink="/userList" routerLinkActive="active">List Users</a>
    <a routerLink="/addUser" routerLinkActive="active">Add User</a>
    </b>
</nav>
    <router-outlet></router-outlet>


</body>
</html>