

<h4> User Details</h4>
<form>
    <div class="form-group">

        <label class = "col-sm-2 control-label"> Customer Id: </label>
        <p>  {{zero._id}} </p>


        <label class = "col-sm-2 control-label "> First Name:</label>
        <input type="text" maxlength="20" class="form-control" required placeholder="First name is required"
               name="fname" [(ngModel)]= "zero.firstname" >

        <label class = "col-sm-2 control-label"> Last Name:</label>
        <input type="text" maxlength="20" class="form-control" required placeholder="Last name is required"
               name="lname" [(ngModel)]= "zero.lastname" >

        <label class = "col-sm-2 control-label"> Address:</label>
        <input type="text"  maxlength="20" class="form-control" required placeholder="Address is required"
               name="address" [(ngModel)]= "zero.address" >

        <label  class = "col-sm-2 control-label"> City:</label>
        <input type="text" maxlength="15" class="form-control" required placeholder="City is required"
               name="city" [(ngModel)]= "zero.city" >

        <label class = "col-sm-2 control-label"> Country:</label>
        <input type="text"  maxlength="15" class="form-control" required placeholder="Country is required"
               name="country" [(ngModel)]= "zero.country" >

    </div>


    <button  class="btn btn-default"  (click)="updateCustomer()"> Update </button>
    <button  class="btn btn-default"  (click)="deleteCustomer()"> Delete </button>
    <div *ngIf = "messagestatus" > <b> {{message}} </b> </div>

</form>
