<table class="table table-hover table-responsives .table-condensed">
    <thead>
    <tr>
        <th>Select from the list</th>

    </tr>
    </thead>
    <tr *ngFor="let st of heroes" (click)="gotoDetail(st)">
        <td> {{ st.firstname }},  {{ st.lastname }} </td>

    </tr>
</table>
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>